<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.hjycommunity.property.mapper.HjyInteractionMapper">

    <resultMap type="HjyInteraction" id="HjyInteractionResult">
        <id     property="interactionId"      column="interaction_id"     />
        <result property="communityId"         column="community_id"       />
        <result property="ownerId"             column="owner_id"          />
        <result property="ownerNickname"       column="owner_nickname"    />
        <result property="ownerRealName"      column="owner_real_name"   />
        <result property="ownerPhoneNumber"   column="owner_phone_number"/>
        <result property="content"            column="content"           />
        <result property="filesId"           column="files_id"          />
        <result property="delFlag"            column="del_flag"          />
        <result property="communityName"      column="community_name"   />
        <result property="createBy"          column="create_by"        />
        <result property="createTime"        column="create_time"       />
        <result property="updateBy"          column="update_by"        />
        <result property="updateTime"        column="update_time"       />
        <result property="remark"            column="remark"           />
    </resultMap>

    <resultMap type="HjyComment" id="HjyCommentResult">
        <id     property="commentId"         column="comment_id"        />
        <result property="interactionId"     column="interaction_id"    />
        <result property="ownerId"           column="owner_id"         />
        <result property="ownerName"         column="owner_name"        />
        <result property="ownerPortrait"     column="owner_portrait"   />
        <result property="passiveOwnerId"    column="passive_owner_id"  />
        <result property="passiveOwnerName"  column="passive_owner_name"/>
        <result property="content"           column="content"           />
        <result property="delFlag"           column="del_flag"          />
        <result property="createBy"          column="create_by"        />
        <result property="createTime"        column="create_time"       />
        <result property="remark"            column="remark"           />
    </resultMap>

    <sql id="selectInteractionVo">
        SELECT i.interaction_id, i.community_id, i.owner_id, i.owner_nickname,
               i.owner_real_name, i.owner_phone_number, i.content, i.files_id,
               i.del_flag, hc.community_name,
               i.create_by, i.create_time, i.update_by, i.update_time, i.remark
        FROM hjy_interaction i
        LEFT JOIN hjy_community hc ON i.community_id = hc.community_id
    </sql>

    <select id="selectInteractionList" parameterType="HjyInteraction" resultMap="HjyInteractionResult">
        <include refid="selectInteractionVo"/>
        WHERE i.del_flag = '0'
        <if test="communityId != null">
            AND i.community_id = #{communityId}
        </if>
        <if test="ownerNickname != null and ownerNickname != ''">
            AND i.owner_nickname LIKE CONCAT('%', #{ownerNickname}, '%')
        </if>
        <if test="content != null and content != ''">
            AND i.content LIKE CONCAT('%', #{content}, '%')
        </if>
        ORDER BY i.create_time DESC
    </select>

    <select id="selectInteractionById" parameterType="Long" resultMap="HjyInteractionResult">
        <include refid="selectInteractionVo"/>
        WHERE i.interaction_id = #{interactionId}
    </select>

    <insert id="insertInteraction" parameterType="HjyInteraction" useGeneratedKeys="true" keyProperty="interactionId">
        INSERT INTO hjy_interaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="communityId != null">community_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="ownerNickname != null and ownerNickname != ''">owner_nickname,</if>
            <if test="ownerRealName != null and ownerRealName != ''">owner_real_name,</if>
            <if test="ownerPhoneNumber != null and ownerPhoneNumber != ''">owner_phone_number,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="filesId != null and filesId != ''">files_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="communityId != null">#{communityId},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="ownerNickname != null and ownerNickname != ''">#{ownerNickname},</if>
            <if test="ownerRealName != null and ownerRealName != ''">#{ownerRealName},</if>
            <if test="ownerPhoneNumber != null and ownerPhoneNumber != ''">#{ownerPhoneNumber},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="filesId != null and filesId != ''">#{filesId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            NOW()
        </trim>
    </insert>

    <update id="updateInteraction" parameterType="HjyInteraction">
        UPDATE hjy_interaction
        <set>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="filesId != null and filesId != ''">files_id = #{filesId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = NOW()
        </set>
        WHERE interaction_id = #{interactionId}
    </update>

    <delete id="deleteInteractionById" parameterType="Long">
        UPDATE hjy_interaction SET del_flag = '2' WHERE interaction_id = #{interactionId}
    </delete>

    <delete id="deleteInteractionByIds" parameterType="Long">
        UPDATE hjy_interaction SET del_flag = '2' WHERE interaction_id IN
        <foreach collection="array" item="interactionId" open="(" separator="," close=")">
            #{interactionId}
        </foreach>
    </delete>

    <select id="selectCommentList" parameterType="Long" resultMap="HjyCommentResult">
        SELECT comment_id, interaction_id, owner_id, owner_name, owner_portrait,
               passive_owner_id, passive_owner_name, content, del_flag,
               create_by, create_time, remark
        FROM zy_comment
        WHERE interaction_id = #{interactionId} AND del_flag = '0'
        ORDER BY create_time ASC
    </select>

    <insert id="insertComment" parameterType="HjyComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO zy_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interactionId != null">interaction_id,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="ownerName != null and ownerName != ''">owner_name,</if>
            <if test="ownerPortrait != null and ownerPortrait != ''">owner_portrait,</if>
            <if test="passiveOwnerId != null">passive_owner_id,</if>
            <if test="passiveOwnerName != null and passiveOwnerName != ''">passive_owner_name,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="interactionId != null">#{interactionId},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="ownerName != null and ownerName != ''">#{ownerName},</if>
            <if test="ownerPortrait != null and ownerPortrait != ''">#{ownerPortrait},</if>
            <if test="passiveOwnerId != null">#{passiveOwnerId},</if>
            <if test="passiveOwnerName != null and passiveOwnerName != ''">#{passiveOwnerName},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            NOW()
        </trim>
    </insert>

    <delete id="deleteCommentById" parameterType="Long">
        UPDATE zy_comment SET del_flag = '2' WHERE comment_id = #{commentId}
    </delete>

</mapper>
